* {
    margin: 0;
    padding: 0;
}

.space {
    background-image: url("https://stepik.org/media/attachments/lesson/452681/space.png");
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -2;

}
.rocket {
    transform: rotate(20deg);
    z-index: -1;
    left: 400px;
    position: absolute;
    bottom: 350px;


}
.planet {
    position: absolute;
    bottom: 0;
}

.control-panel {
    position: relative;
    display: inline-block;
    padding: .5em .5em;
    text-align: center;
    width: 25em;
    left: 70em;
    top: 300px;
    background-color: silver;
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px),
    linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0 2px, 4px 35px, 29px 31px, 34px 6px;
    border-radius: 5px;
}
.check-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 1rem;
}
.levers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
}
.levers input {
    width: 55px;
    transform: rotate(-90deg);
    height: 10px;
}
input[type="password"] {
    width: 40%;
    border: solid red;
    border-radius: 5px;
    color: black;
}
.control-panel__inner {
    background-color: gray;
}
#ok {
    background-color: red;
    color: white;
    border: solid white;
    border-radius: 20px;
    width: 50px;
}
#launch:enabled {
    background-color: red;
    color: white;
    border: solid white;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: large;
}
#launch:disabled {
    background-color: lightpink;
    color: gray;
    border: solid white;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: large;
}